<!DOCTYPE html>
<html class="no-js" >
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>乌江画廊</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/feedback.css">
    <!--<style type="text/css">-->
    <!--.detail-title{-->
    <!--margin: 80px auto auto 475px;-->

    <!--}-->

    <!--.detail-text{-->
    <!--width: 1335px;-->
    <!--margin: 30px auto;-->
    <!--font-size: 16.11px;-->
    <!--color: #666666;-->
    <!--}-->

    <!--</style>-->


    <!--<style type="text/css">-->
        <!--.amap-logo {-->
            <!--right: 0 !important;-->
            <!--left: auto !important;-->
            <!--display: none;-->
        <!--}-->

        <!--.amap-copyright {-->
            <!--display: none !important;-->
            <!--right: 70px !important;-->
            <!--left: auto !important;-->
        <!--}-->
    <!--</style>-->

    <style type="text/css">
        .anchorBL{
            display: none;
        }

    </style>

</head>
<body class="feedbackpage">


<div id="p1" class="codepic ">
    <img src="../../img/wechat_comp.png" alt="" class="code-img">
    <div class="word">官方微信</div>
</div>
<div id="p2" class="codepic ">
    <img src="../../img/weibo_comp.png" alt="" class="code-img">
    <div class="word">官方微博</div>
</div>
<!--<div id="p3" class="codepic ">-->
    <!--<img src="../../img/code-wx.png" alt="" class="code-img">-->
    <!--<div class="word">语音导游</div>-->
<!--</div>-->

<div class="row">

    <div class="container left-block">

        <!--<iframe class="map-outlet" width='1160' height='706' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='http://f.amap.com/UVqv_00931Jm'></iframe>-->

        <div id="map-inside"></div>

        <img id="dianhua" src="../../img/dianhua_icon.png">

        <img id="diqiu" src="../../img/diqiu_icon.png">

        <img id="dianhua_animate" src="../../img/dianhua_animate.png">

        <img id="diqiu_animate" src="../../img/diqiu_animate.png">


    </div>


    <div class="container right-block ">

        <ul id="navigation" class="list-group">
            <li class="headlist list-group-item">
                <a class="navli" id="link-home" href="../../index.html">
                    <div class="tab-cn">主页</div>
                    <div class="tab-en">HOME</div>
                </a>
            </li>
            <li class=" headlist list-group-item">
                <a  class="navli" id="link-introduction" href="../IntroPage/intro/intro.html">
                    <div class="tab-cn">景区介绍</div>
                    <div class="tab-en">Scenic Introduction</div>
                </a>
            </li>
            <li  class="headlist list-group-item">
                <a class="navli" id="link-geography" href="../GeoPage/geo1/geo.html">
                    <div class="tab-cn">地理文化</div>
                    <div class="tab-en">Geographical Culture</div>
                </a>
            </li>
            <li class="headlist list-group-item">
                <a class="navli" id="link-tourism" href="../ServPage/serv1/serv.html">
                    <div class="tab-cn">旅游服务</div>
                    <div class="tab-en">Travel Service</div>
                </a>
            </li>
            <li class="headlist list-group-item">
                <a class="navli" id="link-scene" href="../RoamingPage/roaming.html">
                    <div class="tab-cn">3D实景漫游</div>
                    <div class="tab-en">3D Real Roaming</div>
                </a>
            </li>
            <li class="list-active list-group-item">
                <a class="navli" id="link-consult" href="../FeedbackPage/feedback.html">
                    <div class="tab-cn-active">咨询投诉</div>
                    <div class="tab-en-active">Advisory Complaints</div>
                </a>
            </li>


        </ul>


    </div>

</div>

<div class="copyright-balck"> &copy; 版权所有 未经允许，不得轻易抄袭</div>





<script src="../../lib/jquery/dist/jquery.min.js"></script>
<!--<script src=http://webapi.amap.com/maps?v=1.3&key=8f99e8c1baf3608626eb0a85e653ed0c"></script>-->

<!--<script type="text/javascript">-->

    <!--var map = new AMap.Map('map-inside',{-->
        <!--resizeEnable: true,-->
        <!--zoom: 15,-->
        <!--center: [108.216817,29.19899]-->
    <!--});-->

    <!--var marker = new AMap.Marker({-->
        <!--position: [108.216817,29.19899],-->
        <!--map:map-->
    <!--});-->

    <!--marker.setMap(map);-->

<!--//    map.setFeatures(['road','building','bg'])-->

    <!--AMap.plugin(['AMap.ToolBar','AMap.Scale'],-->
        <!--function(){-->
            <!--map.addControl(new AMap.ToolBar());-->

            <!--map.addControl(new AMap.Scale());-->

        <!--});-->

<!--//    map.plugin('AMap.Geolocation', function () {-->
    <!--//        geolocation = new AMap.Geolocation({-->
    <!--//            enableHighAccuracy: true,//是否使用高精度定位，默认:true-->
    <!--//            timeout: 10000,          //超过10秒后停止定位，默认：无穷大-->
    <!--//            maximumAge: 0,           //定位结果缓存0毫秒，默认：0-->
    <!--////            convert: true,           //自动偏移坐标，偏移后的坐标为高德坐标，默认：true-->
    <!--//            showButton: true,        //显示定位按钮，默认：true-->
    <!--//            buttonPosition: 'LT',    //定位按钮停靠位置，默认：'LB'，左下角-->
    <!--//            buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)-->
    <!--//            showMarker: true,        //定位成功后在定位到的位置显示点标记，默认：true-->
    <!--////            showCircle: true,        //定位成功后用圆圈表示定位精度范围，默认：true-->
    <!--//            panToLocation: true,     //定位成功后将定位到的位置作为地图中心点，默认：true-->
    <!--//            zoomToAccuracy:true      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false-->
    <!--//        });-->
    <!--//        map.addControl(geolocation);-->
    <!--//        geolocation.getCurrentPosition();-->
    <!--////        AMap.event.addListener(geolocation, 'complete', onComplete);//返回定位信息-->
    <!--////        AMap.event.addListener(geolocation, 'error', onError);      //返回定位出错信息-->
    <!--//    });-->

    <!--var contents = [];-->
    <!--contents.push("<img src='http://i4.piimg.com/599509/654b7a331b150dc6.png'>");-->
    <!--contents.push("<text style=' font-size: 25px; text-align: center;'>乌江画廊</text>")-->

    <!--var info = new AMap.InfoWindow({-->
        <!--content:contents.join(),-->
        <!--offset:new AMap.Pixel(0,-30)-->
    <!--});-->
    <!--info.open(map,marker.getPosition())-->
<!--</script>-->

<script src="http://api.map.baidu.com/api?v=2.0&ak=HvWFfvH3C1QaSIW7ETUf66fZhaMKq9dO" type="text/javascript"></script>

<script type="text/javascript">
    var map = new BMap.Map("map-inside");          // 创建地图实例
    var point = new BMap.Point(108.216817,29.19899);  // 创建点坐标
    map.centerAndZoom(point, 15);                 // 初始化地图，设置中心点坐标和地图级别

    map.addControl(new BMap.NavigationControl());
    map.addControl(new BMap.ScaleControl());

    var marker = new BMap.Marker(point);        // 创建标注
    map.addOverlay(marker);

    var contents =
        "<img style='float:left;margin:4px' id='imgDemo' src='http://i4.piimg.com/599509/654b7a331b150dc6.png'/>" +
        "<p style='margin:0;line-height:1.5;font-size:20px;text-indent:2em'>乌江画廊</p>";

    var opts={
        height:90,
        width:300,
        offset:{height:-20,width:-0}

    };

    var infoWindow = new BMap.InfoWindow(contents,opts);  // 创建信息窗口对象
    map.openInfoWindow(infoWindow, marker.getPosition());      // 打开信息窗口




</script>


<script>

    $(document).ready(function () {
        $('#dianhua').click(function () {
            $('#dianhua_animate').animate({
                width:'toggle'
            })
        })
    });

    $(document).ready(function () {
        $('#diqiu').click(function () {
            $('#diqiu_animate').animate({
                width:'toggle'
            })
        })
    })


</script>

</body>
</html>