@font-face {
    font-family: 'Bell MT';
    font-style: normal;
    font-weight: 400;
    src: local('Bell MT W01'), local('BellMT'), url('../font/BellMT.ttf') format('truetype');
}

@font-face {
    font-family: 'bookantiqua bolditalic';
    font-style: normal;
    src: url('../font/book-antiqua-bold-italic.ttf') format('truetype');
}
/*@font-face {*/
    /*font-family: "Bell MT";*/
    /*src: url('../font/bell-mt-5955af70c4bfa.ttf') format('truetype');*/
/*}*/

body{
    font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,sans-serif;
}

*{
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;

    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a{
    text-decoration: none;
    color: #0f0f0f;
}

body{
    margin: 0;
    overflow: hidden;
}

/*div背景透明化*/

div #home{
    background: transparent !important;
}

/*主页背景*/

.mainpage{
    background-image: url("../img/index.png");
    background-repeat: no-repeat;
    background-position: 0 0 ;
    background-size: 1920px 1080px;
}

/*介绍背景*/

.intropage{
    background-image: url("../img/introduction.png");
    background-repeat: no-repeat;
    background-position: 0 0 ;
    background-size: 1920px 1080px;
}

/*地理背景*/
.geopage{
    background-image: url("../img/geopage.png");
    background-repeat: no-repeat;
    background-position: 0 0 ;
    background-size: 1920px 1080px;
}

/*服务页背景*/
.servpage{
    background-image: url("../img/servpage.png");
    background-repeat: no-repeat;
    background-position: 0 0 ;
    background-size: 1920px 1080px;
}

/*详情背景*/

.detailpage{
    background-image: url("../img/detailbackgroundimg.png");
    background-repeat: no-repeat;
    background-position: 0 0 ;
    background-size: 1920px 1080px;
}

/*咨询投诉*/
.feedbackpage{
    background-image: url("../img/feedbackpage.png");
    background-repeat: no-repeat;
    background-position: 0 0 ;
    background-size: 1920px 1080px;
}
/*版权*/
.copyright{
    position: fixed;
    right: 72px;
    bottom: 45px;
    color: #eeeeee;

}

.copyright-balck{
    position: fixed;
    right: 72px;
    bottom: 45px;
    color: #222222;
}

.copyright-en{
    position: fixed;
    width: 300px;
    right: 32px;
    bottom: 25px;
    color: #eeeeee;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.copyright-en-black{
    position: fixed;
    width: 300px;
    right: 32px;
    bottom: 25px;
    color: #222222;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}



/*导航栏设置*/

.right-block{
    float: right;
    width: 320px;

}

#navigation{
    width: 232px;
    margin-top: 136px;
    margin-right: 72px;
    padding: 0 0 0 16px ;

}

.headlist{
    list-style: none;
    margin-top: 27px;
    width: 232px;
    height: 99px;
    background-image: url("../img/whitebutton.png");
    background-repeat: no-repeat;
    background-position:0 0 ;
    opacity: 0.85;
    padding: 0 0 !important;
    border-radius: 0 !important;
    box-shadow: 2px 2px 10px #ffffff ;
}

.list-active{
    list-style: none;
    margin-top: 27px;
    width: 232px;
    height: 99px;
    background-image: url("../img/tab-active.png");
    background-repeat: no-repeat;
    background-position:0 0 ;
    opacity: 0.85;
    padding: 0 0 !important;
    border-radius: 0 !important;
    box-shadow: 2px 2px 20px #ffffff ;

}

.navli{
    z-index: 1;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none !important;
    color: #333333;
    text-align: center;
}

.tab-cn-active{
    margin-top: 25px;
    font-family: 微软雅黑;
    font-size: 28px;
    color: #ffffff;
}

.tab-cn{
    margin-top: 25px;
    font-family: 微软雅黑;
    font-size: 28px;
}

.tab-en-active{
    font-family: 'Bell MT';
    font-size: 18px;
    color: #ffffff;
}

.tab-en{
    font-family: 'Bell MT';
    font-size: 18px;
    color: rgba(70,70,70,0.76);
}


.tab-enOnly-active{
    margin: 0 auto;
    font-family: 'Bell MT';
    font-size: 26px;
    color: #ffffff;
    width: 80%;
    text-align: center;
    /*panera*/
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);

}

.tab-enOnly{
    margin: 0 auto;
    font-family: 'Bell MT';
    font-size: 26px;
    width: 80%;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);

}

/*swiper详细设置*/

.left-block{
    position: absolute;
    /*float: left;*/
    margin-right: 0;
    margin-top: 132px;
    width: 1600px;
    height: 735px;
}

.swiper-container {
    margin: 0;
    margin-left: 175px !important;
    width: 80%;
    height: 735px;
    overflow: visible;
}

.swiper-wrapper{

}


.swiper-slide{
    height: 735px;
    width: 378px !important;
    margin-right: 63px !important;
}

.sld-word{
    position: absolute;
    width: 354px;
    margin-left: 2px;
    height: 132px;
    margin-top:609px;
}

.sld-link{
    display: inline-block;
    height: 100%;
    width: 94%;
   margin-left: 10px;
}

.sld-title{
    font-family: 'zktqkt';
    font-size: 51px;
    text-align: center;
    margin-top: 20px;
}

.sld-title_en{
    font-family: "bookantiqua bolditalic";
    font-size: 35px;
    text-align: center;
    margin-top: 15px;
}

.sld-abstract{
    font-family: 微软雅黑;
    font-size: 18px;
    text-align: center;
    color: #666666;
}

.swiper-button-prev {
    background-image: url("../img/nav-left.png") !important;
    background-size: 100% 100% !important;
    height: 86px !important;
    width:86px !important;
    margin-left: 55px;
    /*transform: translateY(-50%);*/

}

.swiper-button-next{
    background-image: url("../img/nav-right.png")  !important;
    background-size: 100% 100% !important;
    height: 86px !important;
    width:86px !important;
    margin-right: 45px;
    /*transform: translateY(-50%);*/

}


/*景区详细介绍页面*/
.detail-content{
    position: fixed;
    height: 902px;
    width: 1522px;
    background-position: 0 0 ;
    background-size: 1522px 902px;
    left: 44px;
    top: 50px;
}

.btn-back{
    position: fixed;
    height: 59px;
    width: 175px;
    background-image: url("../img/back.png");
    background-position: 0 0 ;
    background-size: 175px 59px;
    left: 67px;
    top: 949px;
    border: none;
    cursor: pointer;
}

.btn-back_en{
    position: fixed;
    height: 59px;
    width: 175px;
    background-image: url("../img/back_en.png");
    background-position: 0 0 ;
    background-size: 175px 59px;
    left: 67px;
    top: 949px;
    border: none;
    cursor: pointer;
}

.detail-leaf{
    position: fixed;
    right: 240px;
    top: 20px;
}

/*scroll滑动自定义*/

::-webkit-scrollbar{
    background-color: #f5f5f5;
    width: 20px;
}

::-webkit-scrollbar-thumb{
    background-image: url("../img/scroll_track.png");
    background-size: 100% 100%;
}

::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #f5f5f5;
}

::-webkit-scrollbar-button:start{
    background-image: url("../img/scroll_start.png");
}

::-webkit-scrollbar-button:end{
    background-image: url("../img/scroll_end.png");
}

/*!*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*!*/
/*::-webkit-scrollbar*/
/*{*/
/*width: 16px;*/
/*height: 16px;*/
/*background-color: #F5F5F5;*/
/*}*/

/*!*定义滚动条轨道 内阴影+圆角*!*/
/*::-webkit-scrollbar-track*/
/*{*/
/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
/*border-radius: 10px;*/
/*background-color: #F5F5F5;*/
/*}*/

/*!*定义滑块 内阴影+圆角*!*/
/*::-webkit-scrollbar-thumb*/
/*{*/
/*border-radius: 10px;*/
/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
/*background-color: #555;*/
/*}*/
