<!DOCTYPE html>
<html class="no-js" >
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>乌江画廊</title>
    <link rel="stylesheet" type="text/css" href="../../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../../css/swiper-3.4.2.min.css">
    <link rel="stylesheet" type="text/css" href="../../../css/Service.css">

    <style type="text/css">
        .sld-title{
            margin: 2px auto;
            font-size: 40px;
        }
    </style>

</head>
<body class="servpage">

<div class="row">

    <div class="container left-block">

        <div class="swiper-button-prev"></div>

        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('../../../img/wujianghualangayiheerriyou.png');">
                    <a class="sld-link" href="contents/detail1.html">
                        <div class="sld-word">
                            <div class="sld-title">乌江画廊阿依河 二日游</div>
                            <div class="sld-abstract">重庆—彭水万足码头—乌江画廊…</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide" style="background-image: url('../../../img/wujianghualangjingpinerriyou.png');">
                    <a class="sld-link" href="contents/detail2.html">
                        <div class="sld-word">
                            <div class="sld-title">乌江画廊 精品二日游</div>
                            <div class="sld-abstract">重庆—彭水万足码头—船游乌江画…</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide" style="background-image: url('../../../img/ayihejingpinerriyou.png');">
                    <a class="sld-link" href="contents/detail3.html">
                        <div class="sld-word">
                            <div class="sld-title">阿依河  精品二日游</div>
                            <div class="sld-abstract" style="margin: 35px auto">重庆—彭水县城—阿依河接待中…</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide" style="background-image: url('../../../img/wujianghualangayihexiuxiansanriyou.png');">
                    <a class="sld-link" href="contents/detail4.html">
                        <div class="sld-word">
                            <div class="sld-title">乌江画廊阿依河 休闲三日游</div>
                            <div class="sld-abstract">重庆—彭水万足码头—乌江画廊画舫…</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide" style="background-image: url('../../../img/wujianghualangayihemoweishansiriyou.png');">
                    <a class="sld-link" href="contents/detail5.html">
                        <div class="sld-word">
                            <div class="sld-title">乌江画廊阿依河 摩围山四日游</div>
                            <div class="sld-abstract">重庆—彭水万足码头—乌江画廊—龚…</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide" style="background-image: url('../../../img/wujianghualangayihemoweishanyanhewuriyou.png');">
                    <a class="sld-link" href="contents/detail6.html">
                        <div class="sld-word">
                            <div class="sld-title">乌江画廊阿依河 摩围山沿河五日游</div>
                            <div class="sld-abstract">重庆—彭水县城—阿依河接待中心…</div>
                        </div>
                    </a>
                </div>

            </div>

        </div>

        <div class="swiper-button-next"></div>


    </div>



    <div class="container right-block ">

        <ul id="navigation" class="list-group">
            <li class="headlist list-group-item">
                <a class="navli" id="link-home" href="../../../index.html">
                    <div class="tab-cn">主页</div>
                    <div class="tab-en">HOME</div>
                </a>
            </li>
            <li class=" headlist list-group-item">
                <a  class="navli" id="link-introduction" href="../../IntroPage/intro/intro.html">
                    <div class="tab-cn">景区介绍</div>
                    <div class="tab-en">Scenic Introduction</div>
                </a>
            </li>
            <li  class="headlist list-group-item">
                <a class="navli" id="link-geography" href="../../GeoPage/geo1/geo.html">
                    <div class="tab-cn">地理文化</div>
                    <div class="tab-en">Geographical Culture</div>
                </a>
            </li>
            <li class="list-active list-group-item">
                <a class="navli" id="link-tourism" href="../../ServPage/serv1/serv.html">
                    <div class="tab-cn-active">旅游服务</div>
                    <div class="tab-en-active">Travel Service</div>
                </a>
            </li>
            <li class="headlist list-group-item">
                <a class="navli" id="link-scene" href="../../RoamingPage/roaming.html">
                    <div class="tab-cn">3D实景漫游</div>
                    <div class="tab-en">3D Real Roaming</div>
                </a>
            </li>
            <li class="headlist list-group-item">
                <a class="navli" id="link-consult" href="../../FeedbackPage/feedback.html">
                    <div class="tab-cn">咨询投诉</div>
                    <div class="tab-en">Advisory Complaints</div>
                </a>
            </li>


        </ul>


    </div>

</div>



<div class="copyright"> &copy; 版权所有 未经允许，不得轻易抄袭</div>

<div class="serv-view-nav">

    <img  id="serv_nav_frame" src="../../../img/serv_nav_frame.png">
    <a id="serv1" class="serv_nav" href="../serv1/serv.html">
        <span class="serv_nav_title">
            吃
        </span>
    </a>
    <a id="serv2" class="serv_nav" href="../serv2/serv2.html">
        <span class="serv_nav_title">
            住
        </span>
    </a>
    <a id="serv3" class="serv_nav" href="../serv3/serv3.html">
        <span class="serv_nav_title">
            行
        </span>
    </a>
    <a id="serv4" class="serv_nav_active">
        <span class="serv_nav_title">
            游
        </span>
    </a>
    <a id="serv5" class="serv_nav" href="../serv5/serv5.html">
        <span class="serv_nav_title">
            娱
        </span>
    </a>
    <a id="serv6" class="serv_nav" href="../serv6/serv6.html">
        <span class="serv_nav_title">
            购
        </span>
    </a>

</div>





<script src="../../../lib/jquery/dist/jquery.min.js"></script>
<script src="../../../js/swiper-3.4.2.jquery.min.js"></script>

<script>
    var mySwiper = new Swiper ('.swiper-container', {
        direction: 'horizontal',
        loop: false,

        slidesPerView: 3,
        spaceBetween: 30,
        // 如果需要前进后退按钮
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev'


    })
</script>

</body>
</html>