<!DOCTYPE html>
<html class="no-js" >
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>乌江画廊</title>
    <link rel="stylesheet" type="text/css" href="../../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../../css/swiper-3.4.2.min.css">
    <link rel="stylesheet" type="text/css" href="../../../css/geoStyle.css">

</head>
<body class="geopage">

<div class="row">

    <div class="container left-block">

        <div class="swiper-button-prev"></div>

        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('../../../img/wujianglishi.png');">
                    <a class="sld-link" href="contents/detail1.html">
                        <div class="sld-word">
                            <div class="sld-title">乌江历史</div>
                            <div class="sld-abstract">乌江发源于贵州省威宁县，自贵州…</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide" style="background-image: url('../../../img/anzimiaozai.png');">
                    <a class="sld-link" href="contents/detail2.html">
                        <div class="sld-word">
                            <div class="sld-title">鞍子苗寨</div>
                            <div class="sld-abstract">彭水县鞍子苗寨民族风情园，位于…</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide" style="background-image: url('../../../img/maancheng_geo.png'); ">
                    <a class="sld-link" href="contents/detail3.html">
                        <div class="sld-word">
                            <div class="sld-title">马鞍城</div>
                            <div class="sld-abstract">在酉阳土家族苗族自治县西部的龚滩…</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide" style="background-image: url('../../../img/jirenxuanzang.png'); ">
                    <a class="sld-link" href="contents/detail4.html">
                        <div class="sld-word">
                            <div class="sld-title">僰人悬葬</div>
                            <div class="sld-abstract">悬棺葬是古代少数民族的一种葬制…</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide" style="background-image: url('../../../img/qianfudeyixieshi.png'); ">
                    <a class="sld-link" href="contents/detail5.html">
                        <div class="sld-word">
                            <div class="sld-title" style="font-size: 47px">纤夫的一些事</div>
                            <div class="sld-abstract">当年，乌江上百舸争流，煤、木材…</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide" style="background-image: url('../../../img/baguomanwangdong.png'); ">
                    <a class="sld-link" href="contents/detail6.html">
                        <div class="sld-word">
                            <div class="sld-title">巴国蛮王洞</div>
                            <div class="sld-abstract">在酉阳土家族苗族自治县西部的龚滩…</div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

        <div class="swiper-button-next"></div>


    </div>



    <div class="container right-block ">

        <ul id="navigation" class="list-group">
            <li class="headlist list-group-item">
                <a class="navli" id="link-home" href="../../../index.html">
                    <div class="tab-cn">主页</div>
                    <div class="tab-en">HOME</div>
                </a>
            </li>
            <li class=" headlist list-group-item">
                <a  class="navli" id="link-introduction" href="../../IntroPage/intro/intro.html">
                    <div class="tab-cn">景区介绍</div>
                    <div class="tab-en">Scenic Introduction</div>
                </a>
            </li>
            <li  class="list-active list-group-item">
                <a class="navli" id="link-geography" href="../../GeoPage/geo1/geo.html">
                    <div class="tab-cn-active">地理文化</div>
                    <div class="tab-en-active">Geographical Culture</div>
                </a>
            </li>
            <li class="headlist list-group-item">
                <a class="navli" id="link-tourism" href="../../ServPage/serv1/serv.html">
                    <div class="tab-cn">旅游服务</div>
                    <div class="tab-en">Travel Service</div>
                </a>
            </li>
            <li class="headlist list-group-item">
                <a class="navli" id="link-scene" href="../../RoamingPage/roaming.html">
                    <div class="tab-cn">3D实景漫游</div>
                    <div class="tab-en">3D Real Roaming</div>
                </a>
            </li>
            <li class="headlist list-group-item">
                <a class="navli" id="link-consult" href="../../FeedbackPage/feedback.html">
                    <div class="tab-cn">咨询投诉</div>
                    <div class="tab-en">Advisory Complaints</div>
                </a>
            </li>

        </ul>

    </div>

</div>



<div class="copyright"> &copy; 版权所有 未经允许，不得轻易抄袭</div>

<div class="geo-view-nav">

    <img  id="geo_nav_frame" src="../../../img/geo_nav_frame.png">
    <a id="geo1" class="geo_nav" href="../geo1/geo.html">
        <span class="geo_nav_title">
            商贾重镇
        </span>
    </a>
    <a id="geo2" class="geo_nav" href="../geo2/geo2.html">
        <span class="geo_nav_title">
            民族风情
        </span>
    </a>
    <a id="geo3" class="geo_nav_active">
        <span class="geo_nav_title">
            人文历史
        </span>
    </a>

</div>

<script src="../../../lib/jquery/dist/jquery.min.js"></script>
<script src="../../../js/swiper-3.4.2.jquery.min.js"></script>

<script>
    var mySwiper = new Swiper ('.swiper-container', {
        direction: 'horizontal',
        loop: false,

        slidesPerView: 3,
        spaceBetween: 30,
        // 如果需要前进后退按钮
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev'


    })
</script>

</body>
</html>